<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../statics/style.css">
</head>
<body class="BG1">
    <div class="container">
        <h2 class="mt-5">Data Form</h2>
        <form class="mt-4" action="/data_input" method="post">
            <div class="mb-3">
                <label for="inpt_1" class="form-label">Enter the First Name:</label>
                <input type="text" class="form-control" id="inpt_1" name="inpt_1" required>
            </div>
            <div class="mb-3">
                <label for="inpt_2" class="form-label">Enter Student Number:</label>
                <input type="number" class="form-control" id="inpt_2" name="inpt_2" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
